.article {
    :is(h1, h2, h3, h4, h5, h6) {
        text-decoration: underline;
        text-transform: lowercase;
        text-decoration-color: #343a40;
    }

    h1 {
        // text-decoration: underline;
        margin-bottom: 1.5rem;
        text-decoration-color: #922828;
        // text-decoration-color: #343a40;
    }
}